.text-lg{
	font-size: 30px;
}

#team{display: none;}

.hideThis{display: none !important;}

.fa-whatsapp{
	font-size: 25px;
}

/*img[alt="Tqnia Logo"] {
    display: none;
}*/

.banner-video{background-color: #000;}
.banner-video video{opacity: 0.6;}